#root {
	display: grid;
	height: 100%;
	width: 100%;
	grid-template-rows: 1fr;
}

.left {
	grid-area: 1 / 1 / 2 / 3;/*row-start / column-start / row-end / and column-end*/
	margin: 1em 0.5em 0.5em 1em;/* top | right | bottom | left */
}

.output {
	grid-area: 1 / 3 / 2 / 5;/*row-start / column-start / row-end / and column-end*/
	margin: 1em 1em 0.5em 0.5em;/* top | right | bottom | left */
}

.right {
	grid-area: 1 / 5 / 2 / 7;/*row-start / column-start / row-end / and column-end*/
	margin: 1em 1em 0.5em 0.5em;/* top | right | bottom | left */
}

textarea {
	resize: none;
}

.diff {
	grid-area: 2 / 1 / 3 / 4;/*row-start / column-start / row-end / and column-end*/
	margin: 0.5em 0.5em 1em 1em;/* top | right | bottom | left */
}

.merge {
	grid-area: 2 / 4 / 3 / 7;/*row-start / column-start / row-end / and column-end*/
	margin: 0.5em 1em 1em 0.5em;/* top | right | bottom | left */
}

* {
	background-color: #000000;
	color: #959595
}

input {
	background-color: #101010;
	border-color: #898989;
	color: #ffffff
}
